<div class="loader" ng-hide="connected">
  <span class="spinner"></span>
</div>

<h1>Seus sensores <small class="internet-connection" ng-class="{ true: internet }">{{ msg }}</small></h1>

<div ng-class="{ connected: connected }" class="dashboard">
  <div class="sensor">
    <span>Porta</span>
    <strong class="sensor-value" ng-show="!data.button">Aberta</strong>
    <strong class="sensor-value small" ng-show="data.button">Fechada</strong>
  </div>

  <div class="sensor">
    <span>Luminosidade</span>
    <strong class="sensor-value" ng-if="data.light >= 566">Alta</strong>
    <strong class="sensor-value" ng-if="data.light >= 333 && data.light < 566">Média</strong>
    <strong class="sensor-value" ng-if="data.light < 333">Baixa</strong>
    <small>{{ data.light }} de 1024</small>
  </div>

  <div class="sensor">
    <span>Ruido</span>
    <strong class="sensor-value">{{ data.noise }}</strong>
    <small>{{ data.noise }} de 1024</small>
  </div>

  <!-- <div class="sensor">
    <span>Temperatura</span>
    <strong class="sensor-value">{{ data.temperature }}<i>ºC</i></strong>
  </div>

  <div class="sensor">
    <span>Umidade</span>
    <strong class="sensor-value">{{ data.humidity }}<i>%</i></strong>
  </div> -->
</div>

