<h1>Cadastre seu Kit IoT na DCA</h1>
<form class="form">
  <ul class="form-list">
    <li>
      <label for="name">Nome*:</label>
      <input type="text" ng-model="name" name="name" id="name" />
    </li>

    <li>
      <label for="email">E-mail*:</label>
      <input type="email" ng-model="email" name="email" id="email" />
    </li>

    <li>
      <label for="tel">Telefone:</label>
      <input type="text" ng-model="tel" name="tel" id="tel" />
    </li>

    <li>
      <label for="login">Login DCA*:</label>
      <input type="text" ng-model="login" name="login" id="login" />
    </li>

    <li>
      <label for="pass">Senha DCA*:</label>
      <input type="text" ng-model="pass" name="pass" id="pass" />
    </li>

    <li class="error" ng-show="errors">
    <p ng-repeat="error in errors">{{ error.msg }}</p>
    </li>

    <li>
      <button class="send" type="submit" ng-click="loginUser()">Salvar</button>
    </li>
  </ul>
</form>
