<div ng-class="{ connected: connected }" class="dashboard">
  <div class="sensor">
    <span>Botão</span>
    <strong class="sensor-value">{{ data.button }}</strong>
    <small>cliques por segundo</small>
  </div>

  <div class="sensor">
    <span>Luz</span>
    <strong class="sensor-value">{{ data.light }}</strong>
    <small ng-show="data.light">0 até 1024</small>
  </div>

  <div class="sensor">
    <span>Ruido</span>
    <strong class="sensor-value">{{ data.noise }}</strong>
  </div>

  <div class="sensor">
    <span>Temperatura</span>
    <strong class="sensor-value">{{ data.temperature }}<i ng-show="data.temperature">ºC</i></strong>
  </div>

  <div class="sensor">
    <span>Umidade</span>
    <strong class="sensor-value">{{ data.humidity }}<i ng-show="data.humidity">%</i></strong>
    <small ng-show="data.humidity">umidade relativa</small>
  </div>
</div>
